body{
    font-size:20px;
    background-color:cornsilk;
    font-family: Arial, sans-serif;
    align:center;
    justify-content:center;
    background-image:url("karis/wenf.jpg")

}
.ul{
    img{
    width:"100px";
    height:"150px";
    }
}
.top-right{
    position: absolute;
    top: 10px;
    right: 10px:
}











