.body{
    font-size:20px;
    background-color:cornsilk;
    font-family: Arial, sans-serif;
    align="center";

}
.img{
    width="300px";
    height="180px";
}
.top-right{
    position:fixed;
    top:10px;
    right:10px:
}



